<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      以下の項目を修正してください（エラー数：<%= object.errors.count %>）
      <!-- The form contains <%#= pluralize(object.errors.count, "error") %>.-->
        <!-- pluralizeメソッドは"0errors"、"1error"、"2errors"とエラーの数に応じて
        　単数/複数形にしてくれるため、"1errors"のような文法に合わない表現を避けられる。でも英語だけ。-->
    </div>
    <ul class="error_messages">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>