<% provide(:title, "Concept") %>
<h1>Concept</h1>
<img class="background-photo" src="/assets/basketflowers.jpg">
―Something Four―
それは、ヨーロッパの古い言い伝え。
結婚式の日、花嫁が身に着けると幸せになる、4つのもの。

Something Old,　    －何か古いもの－
Something New,　    －何か新しいもの－
Something Borrowed, －何か借りたもの－
Something Blue,     －何か青いもの－
And sixpence in her shoe. そして、花嫁の片足に6ペンスを。

新しい門出を祝い、"Something Blue"として
このフォトアルバムをプレゼントします。

人生最良のひとときを、ゲストとともに、シェアしてください。