<% provide(:title, "Concept") %>
<%# image_tag("blueshell.jpeg", class: "background-photo") %>
<div class="concept">
  <p class="title-msg">―Something Four―</p>
  <p class="top-msg"></p>それは、ヨーロッパの古い言い伝え。<br>
    結婚式の日、花嫁が身に着けると幸せになる、4つのもの。</p>

  <p class="middle-msg">Something Old,　    －何か古いもの－<br>
    Something New,　    －何か新しいもの－<br>
    Something Borrowed, －何か借りたもの－<br>
    Something Blue,     －何か青いもの－<br>
    And sixpence in her shoe. そして、花嫁の片足に6ペンスを。</p>

  <p class="bottom-msg">新しい門出を祝い、"Something Blue"として<br>
    このフォトアルバムをプレゼントします。</p>
    
  <p class="end-msg">I wish you a happiest day for ever!</p>
</div>