<div class="top-page">
  <h1>Something Blue</h1>
  <div class="url">
    <%= link_to("アカウント作成", "/signup", class: "signup") %>
    <%= link_to("ログイン", "/login", class: "login")%>
  <%# image_tag("balloon.jpg", class: "background-photo") %>
  </div>
</div>