<div class="top-image">
  <h1>Something Blue</h1>
  <ul class="invitation">
    <span><%= link_to("アカウント作成", "/signup")%></span>
    <span>or</span>
    <span><%= link_to("ログイン", "/login")%></span>
  </ul>
  <img class="background-photo" src="/assets/images/balloon.jpg">
</div>
<p>let's share your pics!</p>