<% provide(:title, 'Guests') %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <!--モデルに紐づかないフォームなのでform_tagを使用する-->
    <%= form_tag(url: "/events/#{@event_id}/login", method: :post) do %>

      <%= label_tag :guest_password, "ゲストパスワード" %>
       <%= password_field :event, :guest_password, class: "form-control" %>
      
      <%= submit_tag "イベントにログインする", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
