<li><%= link_to("フォトアルバムを作成する", new_event_path) %></li>
<li><%= @current_host.name %>さんのフォトアルバム一覧</li>
<% @events.each do |event| %>
  <li><%= link_to(event.title, event_path(event)) %></li>
                                        <!--↑この引数の部分で、イベントのidを取ってきている-->
<% end %>
