<b><p><%= link_to("Something Blue", root_url, class:"header-logo") %></p></b>
<div id="header-link">
  <li><%= link_to("concept", "/about")%></li>
  <li><%= link_to("signup", "/signup")%></li>
  <% if controller_name == "events" && action_name == "show" %>
    <!-- if文などの条件分岐でビューやコントローラーを指定したい：https://teratail.com/questions/51322 -->
    <li><%= link_to("logout", logout_event_path(current_event.name), method: :delete) %></li>
  <% end %>
</div>