@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:18px;
  background-color:#fafafa;
  margin: 0 0 0 0;
}

#header{
  height: 50px;
  background-color:#ECCEF5;
  background: -webkit-linear-gradient(left, #ECCEF5, 	#CEF6EC);
  background: -moz-linear-gradient(left, #ECCEF5,	#CEF6EC);
  background: linear-gradient(to right,#ECCEF5, #CEF6EC);
  
  p{
    margin: 0 0 0 0;
    width: 300px;
    font-size: 25px;
    padding: 10px 25px;
    
  }
  
  input{
    float: right;
    margin: 10px 25px;
  }
}


#footer{
  width: 100%;
  text-align:center;
  
}