@import "bootstrap-sprockets";
@import "bootstrap";

$gray:#F2F2F2;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body{
  /*font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;*/
  font-size:14px;
  line-height:18px;
  background-color:#fafafa;
  margin: 0 0 0 0;
}

.container{
  width: 100%;
  padding: 0;
}

li{
  list-style:none;
}

#header{
  height: 60px;
  width: 100%;
  color:$gray;
  background: -webkit-linear-gradient(left, #819FF7, 	#A9F5D0);
  background: -moz-linear-gradient(left, #819FF7,	#A9F5D0);
  background: linear-gradient(to right,#819FF7, #A9F5D0);
  position: fixed;
  z-index: 100;
  
  p{
    display: inline-block;
    width: 300px;
    font-size: 25px;
    padding: 18px 20px;
  }
}

a.header-logo{
  list-style: none;
  color: white;
  text-decoration: none;
  
}

#header-link{
  float: right;
  
  li{
    float: left;
    margin-right:10px;
    padding: 18px 5px 2px 5px;
  }
}

/* top 修正後*/
.top-page{
  background-image: image-url("beach.jpeg");
  background-size: cover;
  color: white;
  height: 550px;
  
  h1{
    margin: 0;
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 45px;
  }
  
  a {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
  }
  
  .url{
    text-align: center;
    text-decoration: none;
    padding: 50px 0 250px 0;

  }
  
  .signup{
    margin-right: 20px;
  }
  
  .login{
    
  }
}


/* conceptページ 修正済み*/
.concept{
  padding-top: 80px;
  background-image: image-url("blueshell.jpeg");
  background-size: cover;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  width: 100%;
  height: 700px;

  .title-msg{
    font-size: 30px;
    padding: 25px 0 0 0;
  }

  .top-msg{
  }

  .middle-msg{
    margin: 15px 0;
  }
  
  .bottom-msg{
    
  }
  
  .end-msg{
    padding: 15px 0 25px;
  }
}
/* ※後から設定する(チュートリアル　リスト7.11）
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
*/

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#footer{
  width: 100%;
  text-align:center;
  
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
  
  .error_messages{
    font-size: 13px;
    margin: 10px 0 15px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* flashメッセージ */
.alert{
  margin: 0px;
}

/* login & signup */
.login-and-signup-page{
  background-image: image-url("basketflower.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;

  
  h2{
    color: white;
    margin: 0;
    padding-top: 120px;
    text-align: center;
  }

  p{
    padding: 10px 0 30px;
  }
  
}

/* events/index画面*/
.events-index{
  background-image: image-url("balloon3.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 1000px;

  .button{
    padding-top: 120px;
    
    a{
      padding: 8px 12px;
      width: 25%;
      text-align: center;
      border-radius: 8px;
      border: solid 2px white;
      text-decoration: none;
      color: white;
    }
  }
  
  p{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 50px 0 20px 0;
  }
  
  .albums-index{
    width: 30%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    text-align: center;
  }
  a{
    color: white;
  }
}


/* events/show画面*/
.events-show{
  margin-top: 0;
  padding-top: 120px;
  width: 100%;
  height: 1000px;
  background-image: image-url("balloon4.jpg");
  background-size: cover;
  
  .btn{
    margin-bottom: 20px;
  }
  
  li{
    margin-top: 0px;
  }
}

/* events/index, events/show 削除リンク*/
.delete{
    margin: 20px 20px;
    float: right;
    padding: 8px 12px;
    background-color: #04B4AE;
    border-radius: 8px;
    text-align: center;
    a{
      text-decoration: none;
      color: white;
      }
  }
  
/* events/new画面*/
.event-new{
  background-image: image-url("balloon3.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;

  .row{
    padding-top: 130px;
  }
  
  h2{
    text-align: center;
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
  }
}

/* events/guest_login_view画面*/
 .event-login{
  background-image: image-url("balloon3.jpg");
  background-size: cover;
  width: 100%;
  height: 550px;
  .row{
    padding-top:150px;
  }
  
  h2{
    text-align: center;
    color: white;
    font-size: 25px;
  }
}
/* 写真アップロード*/
#new_photo{
  margin: 5px;
  li{
    text-align: center;
  }
  #photo_image{
    margin: 3px;
    
  }
}

/*サムネイル(1列8枚)*/
.thumbnail{
  margin: 0;
  width: 12.5%;
  /*width: 168.6px;*/
  height: 160px;
  float: left;
  
  a img{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*この1行を追加するといい感じにトリミング表示してくれる*/
  }
}

.bigphoto{
  text-align: center;
  img{
    width: 80%;
    height: auto;
  }
}