<div id="header">
  <span style="font-family: 'Segoe Print';"><b><p>Something Blue</p></b></span>
  <!-- <input type="submit" value="Log in"></input>　-->
  <li><%= link_to("home", "/")%></li>
  <li><%= link_to("concept", "/about")%></li>
  <li><%= link_to("login", "/login")%></li>
</div>
