<div id="header">
  <% if logged_in? %>
    <%= render "header/host_logged_in"%>
  <% elsif guest_logged_in? %>
     <%= render "header/guest_logged_in"%>
  <% else %>
    <%= render "header/else"%>
  <% end %>
</div>
